/*
.container{
    width: 1140px;!important
    margin: auto;
}
*/


@media only screen and (max-width: 768px){
    .container{
        max-width:720px;
        margin: auto;
    }
}

@media only screen and (max-width: 576px){
    .topo-contato {
        display: none;
    }
    .container{
        max-width: 540px;
        margin: auto;
    }
}
