/* Reset básico */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* container */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media (min-width: 1170px){
    .container {
        max-width:1170px;
        padding: 0;
    }
}

/*linha*/
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content:"";
    display: table;
}

.row:after{
    clear: both;
}

/*colunas*/
.col,
.col-2,
.col-1-3,
.col-2-3,
.col-40,
.col-60 {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;

    *zoom: 1;
    *display: inline;
}

/*duas colunas*/
@media (min-width: 480px){
    .col-2 {
        width:50%!important;
    }
}

/*três colunas*/
@media (min-width: 728px){
    .col-1-3{
        width: 33.3333%!important;
    }
    .col-2-3{
        width: 66.6667%!important;
    }
    .col-40{
        width: 40%;
    }
    .col-60{
        width: 60%;
    }
}


/**/
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    margin: 0 0.2em;
    vertical-align: bottom;
}

nav{
    background: url(../images/suite-casal-clean.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
}

.topo-social,
.bar-navegacao{
    display: inline-flex;
}

.topo-contato{
    font-family: 'Cabin', 'Helvitica', sans-serif;
    font-size: 16px;
    padding: 0.75em;
}

.topo-contato i{
    color: #60b99a;
    font-size: 16pt;
}

.topo-social,
.bar-navegacao{
    justify-content: flex-end;
}

.topo-social li{
    font-size: 26pt;
    color: #60b99a;
    margin-right: 0.5em;
}
.topo-social button{
    font-family: 'Cabin', 'Helvitica', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ffac84;
    color: #ffffff;
    padding: 0.9em;
    border: 0;
    vertical-align: text-bottom;
}

.topo-social button:hover{
    background-color: #ff8a51;
}

.navegacao{
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 60px;
    display: grid;
}

.bar-navegacao{
    font-family: 'Fauna One', 'Roboto', sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.9em;
    justify-content: space-between;
}

.calendar,
.bar-navegacao i{
    vertical-align: text-top;
}

.bar-navegacao i{
    font-size: 18pt;
}

.wrapper-banner{
    background-color: rgba(0, 0, 0, 0.50);
/*    padding: 60px 48px;*/
    color: #ffffff;
    height:540px;
}

.txt-info-home{
    padding: inherit;
    text-align: right;
    padding: 60px 0 60px 60px;
}

.txt-info-home h2{
    font-family: 'Fauna One', 'Roboto', sans-serif;
    font-size: 50px;
    padding-bottom: 0.2em;
}

.txt-info-home p{
    font-family: 'Fauna One', 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.08em;
    padding: 0.8em 0 0.8em 3em;
}

.txt-info-home h4{
    font-family: 'Fauna One', 'Roboto', sans-serif;
    font-size: 30px;
    padding: 0.5em 0;
}

.area-busca{
    margin-right: 16%;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0.5rem 1rem;
    height: 540px;
}

.busca-label{
    display: block;
    width: 100%;
    padding: 1.2em 0.5em 0.3em 1em;
    font-family: 'Fauna One', 'Roboto', sans-serif;
    font-size: 16px;
}

.busca-input{
    display: inline-block;
    width:80%;
    height: 40px;
    padding: 0.4em;
    margin-left: 1rem;
    border: 0;
    font-family: 'Cabin', 'Helvitica', sans-serif;
    font-size: 16px;
    background-color:rgba(255,255,255, 0.9);
}

.busca-ico{
    color: #000000;
    font-size: 22pt;
    height: 40px;
    padding: 0.13em;
    background-color:rgba(255,255,255, 0.9);
    margin: 0;
    border: 0;
}

.busca-span-qtd{
    display: block;
    width:90%;
    margin: 0.2rem 0 0 1rem;
    padding: 0.5rem 0;
}

.busca-ico-qtd{
    width:50px;
    border: 0;
    font-size: 32pt;
    color: #f2f6aa;
    text-align: left;
}


.busca-btn-qtd{
    width:40px;
    font-family: 'Cabin', 'Helvitica', sans-serif;
    color: rgb(242, 246, 170);
    border: 0;
    font-size: 24pt;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    vertical-align: text-top;
}

.busca-input-qtd{
    width:50%;
    font-family: 'Cabin', 'Helvitica', sans-serif;
    font-size: 28pt;
    color:rgb(242, 246, 170);
    background-color:rgba(255,255,255, 0);
    border:0;
    vertical-align: text-top;
    text-align: center;
}

.busca-span-qtd .busca-label{
    padding: 0.5em 0;
}

.busca-btn-reserva{
    width: 90%;
    text-transform: uppercase;
    font-family: 'Cabin', 'Helvitica', sans-serif;
    font-size: 24px;
    margin: 1rem;
    padding: 0.5em;
    color: #ffffff;
    background-color: #67b699;
    border: 0;
}
